<div class="container mt-5">
  <h2 class="mb-3 text-center text-primary">Issue List</h2>
  <button class="btn btn-primary mb-3" (click)="addIssue()">Add New Issue</button>
  
  <div *ngIf="issues.length > 0; else noIssues" class="issue-list">
    <div class="card mb-3 bg-light" *ngFor="let issue of issues">
      <div class="card-body">
        <h5 class="card-title">{{ issue.title }}</h5>
        <p class="card-text">{{ issue.description }}</p>
        <p class="card-text">
          <small class="text-muted">{{ issue.resolved ? 'Resolved' : 'Unresolved' }}</small>
        </p>
  
        <button class="btn btn-secondary mr-2" (click)="viewComments(issue.id)" style="border-right: 2px solid #000;">View Comments</button>
        
        <button class="btn btn-info ml-2 mr-2" (click)="editIssue(issue.id)" style="border-right: 2px solid #000;">Edit</button>

        <button class="btn btn-danger" (click)="deleteIssue(issue.id)" style="border-right: 2px solid #000;">Delete</button>
      </div>
    </div>
  </div>
  <ng-template #noIssues>
    <p class="text-center">No issues found.</p>
  </ng-template>
</div>
